@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


/* 共通設定 */
body {
    color: #696969;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14.4px;
    font-weight: 400;

}
html, body {
  /* スクロールバーを含めたブラウザのサイズを基準とする */
  width: 100%;
  /* ページの端の余白をなくす */
  margin: 0;
  padding: 0;
  /* ボックスサイズの計算方法をborder-boxに変更し、幅の計算をしやすくする */
  box-sizing: border-box;
}

/* すべての要素に box-sizing: border-box を適用（ress.cssにも含まれるが確認用） */
*::before, *::after {
  box-sizing: inherit;
}

a {
    color: #696969;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    transition: 0.3s ease-in-out;
}

img:hover {
    filter: brightness(80%);

}

.maki {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    position: relative;
}

.maki:hover img {
    filter: brightness(100%);
}

.g-caption:hover img {
    filter: brightness(100%);
}


#icon {
    width: 80px;
    height: 80px;
    display: block;
}

ul {
    list-style: none;
}

h1 {
    position: absolute;
    top: 10%;
    right: 10%;
    color: #be8f68;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    z-index: 10;
    font-family: "Nanum Pen Script", cursive;
    font-size: 9rem;
    font-weight: lighter;
    line-height: 1;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #696969;
}

.section-title {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    font-size: 12px;
    position: relative;
    display: inline-block;
}

.section-title::before {
    content: '';
    display: block;
    width: 200px;
    height: 0.5px;
    background-color: #333;
    margin-right: 0px;
}

.section-title::after {
    content: '';
    display: block;
    width: 200px;
    height: 0.5px;
    background-color: #333;
    margin-left: 0px;
}

table {
    border-spacing: 0;
    width: auto;
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
}

table th,
td {
    font-weight: 400;
    text-align: center;
    padding: 8px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    padding: 16px;
    text-align: left;

    &:nth-child(odd) {
        background: #66cdaa;
    }
}

.wrapper {
    max-width: 960px;
    padding-inline: 4%;
    margin-inline: auto;
    text-align: center;
}

.mb-100 {
    margin-bottom: 100px;
}

/* ヘッダー */
header {
    padding-block: 50px;
}

header .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.works ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.works li {
    position: relative;
}

.works li img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.works li a {
    padding-bottom: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.works li p {
    text-align: center;
    margin-top: 10px;
}

.about .text {
    display: grid;
    gap: 35px;
}

h3 {
    margin-top: 60px;
    font-size: 2.5rem;
}

.strength {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 700px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    gap: 20px;
    text-align: left;
    margin-top: 20px;
    padding: 80px 80px 80px 80px;
    border-radius: 10px;
    background: #fff0f5;
    line-height: 1.8em;
    letter-spacing: 0.1em;

    & :nth-child(odd) {
        justify-self: start;
        align-self: start;
    }

    & :nth-child(even) {
        justify-self: start;
        align-self: start;
    }

}

footer {
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 11px;
    background: #663333;
}

/* caption----------------------------------------------------------------------------------------- */
.caption-title {
    display: grid;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.caption {
    display: block;
    margin-top: 30px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.flex-list .label {
    width: 10rem;
    margin-right: 60px;
    align-self: flex-start;
    line-height: 1.8;
    flex-shrink: 0;
}

.flex-list .content {
    flex-grow: 1;
    flex-basis: 0;
    line-height: 1.8;
}

.flex-list li {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flex-list li {
    align-items: center;
}

#hidariyose {
    display: grid;
    text-align: right;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}


/* 作品経由ボタンｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ */
#highlight p {
    color: #fffff0;
    background-color: #bc8f8f;
    margin-top: 60px;
    display: inline-block;
    font-size: 1.8rem;
    border-radius: 10px;
    padding: .75rem 1.5rem;
    transition: 0.3s ease;
    text-decoration: none;
    text-align: center;
    margin-bottom: 100px;
}

/* pタグがホバーされた時 */
#highlight p:hover {
    background-color: #be8f68;
    transform: scale(1.1);
    cursor: pointer;
}

/* pタグの中のaタグ（リンク）のスタイル */
#highlight p a {
    color: inherit;
    text-decoration: none;
}

/* グラフィックｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ */
#gura ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 60px;
}

#gura ul p{
    margin-top: -20px;
    font-size: 14px;
}

.g-caption-title {
    display: grid;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.g-caption {
    width: 50vh;
    height: auto;
    display: grid;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

#bana-yoko {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    width: 80vh;
    text-align: center;
}

/* 縦横比を強制するラッパー (aタグ) に設定を上書き */
#bana-li a {
    /* 正方形を強制する padding-bottom: 100%; を無効化 */
    padding-bottom: 0 ; 
    height: 200px;
    width: 100%; 
    overflow: hidden;
}

/* 画像（img）に設定を上書き */
#bana-li img {
    max-width: 100%;
    object-fit: contain; 
    object-position: center;
    grid-column: 1 / -1; 
}

/* topに戻る */

#page-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    display: none;
}

#page-top a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #BC8F8F;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    opacity: 0.8;
    transition: opacity 0.3s;
}

#page-top a:hover {
    opacity: 1;
}

#page-top i {
    font-size: 16px;
    margin-bottom: 2px;
}
/* ikaku----------------------------------------------------------------------------- */
#ikaku {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    max-width: 600px;
    margin: 0 auto;
}

#ikaku img {
    max-width: 30%; 
    height: auto;
}

#ikaku p {
    text-align: left;
}

#ikaku:hover img {
    filter: brightness(100%);
}



/* タブレット用スタイル (最大幅768px以下)---------------------------------------------------- */
@media screen and (max-width: 768px) {
    body {
        width: 90%;
        padding: 15px;
    }
    main {
        margin-bottom: 3rem;
    }
    section {
        margin-top: 6rem;
    }

    h1 {
        font-size: 2.5rem;
    }
    .maki {
        height: 300px;
        
    }

    /* .mb-100 クラスの margin を縮小 */
    .mb-100 {
        margin-bottom: 0.5rem;
    }

    .works {
        margin-top: 0;
    }

    /* wrapper のパディングをモバイル向けに調整 */
    .wrapper {
        padding-inline: 4%;
    }

    /* 他のモバイル向けレイアウト調整 */
    .works ul,#gura ul {
        /* works セクションのレイアウトを3列から1列に変更 */
        grid-template-columns: 1fr;
        gap: 20px;
    }


    
    #bana-yoko {
        grid-template-columns: 1fr;
        width: 90%;
    }


    .strength {
        /* グリッドレイアウトを2列から1列に変更する */
        grid-template-columns: 1fr;
        padding: 30px;
        max-width: none;
        justify-items: start;
        gap: 10px;
        text-align: left;
        margin-bottom: 8rem;
    }


    /* 項目名の特殊な配置（左寄せ）をリセット */
    .strength>*:nth-child(odd) {
        justify-self: stretch;
        align-self: stretch;
        margin-top: 2.5rem;
        padding-bottom: 1.2rem;
    }

    .g-caption {
        width: 90%;
    }

    #gura ul li p {
        margin-top: 0.2rem;
        margin-bottom: 2rem;
    }
    .flex-list li {
        flex-direction: column;
        width: 90%;
    }
    
    .flex-list li .label {
        flex: 0 0 auto; 
        width: 100%;
        margin-bottom: 4px; 
        padding-right: 0; 
    }
    
    .flex-list li .content {
        flex: 1 1 auto;
        width: 100%;
    }

    table tr td:first-child {
        flex: 0 0 20%; 
        padding-right: 20px;
    }
    table tr td:last-child {
        flex: 1 1 80%; 
    }
    table tr td {
        word-break: break-all;
    }


}
